// Variables

$spacer: 1rem;

// Gray and Brand Colors for use across theme

$header-gradient-opacity: 0.30;

$yellow: #FFDD00;
$orange: #F58220;
$green: #8DC63F;  
$red: #e74c3c;
$purple: #5E3896;
$white: #ffffff;

$primary-colour: $purple;
$brand-primary: $primary-colour;
$secondary-colour: $green;
$highlight-colour: $orange;

$light-grey: #e9e9e9;

$start-grad: rgba(141,198,63,0.6);
$mid-grad: rgba(113,113,114,0.5);
$end-grad: rgba(94,56,150,0.8);

$theme-primary: $yellow;
$theme-danger: $red;

$gray-base:			#000 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default;
$gray-dark:			lighten($gray-base, 20%) !default;
$gray:				#8994ad !default;
$gray-light:		lighten($gray-base, 46.7%) !default;
$gray-lighter:		#eceef4 !default;

//** Global textual link color.
$link-colour: $primary-colour;
$link-hover-colour: darken($link-colour, 15%);
$link-hover-decoration: none;

$font-family-sans-serif: "Work Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-h1: 60px;
$font-size-h2: 36px;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;

$headings-margin-bottom: $spacer;

$lead-font-size: $font-size-h1 / 2;

$small-font-size: 75%;
$tiny-font-size: 50%;

$headings-color: $brand-primary;

$navbar-inverse-color: $white;
$navbar-default-link-active-bg: transparent;

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

$btn-secondary-color: $white;
$btn-secondary-bg: $gray-dark;
$btn-secondary-border: $gray-dark;

$input-border: lighten($gray, 20%);
$input-border-focus: $yellow;
$input-padding-y-sm: .25rem;
$btn-padding-y-sm: .25rem;

$custom-select-sm-padding-y: $input-padding-y-sm;
$custom-select-sm-font-size: .875rem;

$list-group-bg: transparent;
$list-group-border-radius: 0;

$card-border-radius: 0;

$icon-default-size: 20px;
$icomoon-font-path: "../fonts";

$lnr-home: "\e600";
$lnr-home2: "\e601";
$lnr-home3: "\e602";
$lnr-home4: "\e603";
$lnr-home5: "\e604";
$lnr-home6: "\e605";
$lnr-bathtub: "\e606";
$lnr-toothbrush: "\e607";
$lnr-bed: "\e608";
$lnr-couch: "\e609";
$lnr-chair: "\e60a";
$lnr-city: "\e60b";
$lnr-apartment: "\e60c";
$lnr-pencil: "\e60d";
$lnr-pencil2: "\e60e";
$lnr-pen: "\e60f";
$lnr-pencil3: "\e610";
$lnr-eraser: "\e611";
$lnr-pencil4: "\e612";
$lnr-pencil5: "\e613";
$lnr-feather: "\e614";
$lnr-feather2: "\e615";
$lnr-feather3: "\e616";
$lnr-pen2: "\e617";
$lnr-pen-add: "\e618";
$lnr-pen-remove: "\e619";
$lnr-vector: "\e61a";
$lnr-pen3: "\e61b";
$lnr-blog: "\e61c";
$lnr-brush: "\e61d";
$lnr-brush2: "\e61e";
$lnr-spray: "\e61f";
$lnr-paint-roller: "\e620";
$lnr-stamp: "\e621";
$lnr-tape: "\e622";
$lnr-desk-tape: "\e623";
$lnr-texture: "\e624";
$lnr-eye-dropper: "\e625";
$lnr-palette: "\e626";
$lnr-color-sampler: "\e627";
$lnr-bucket: "\e628";
$lnr-gradient: "\e629";
$lnr-gradient2: "\e62a";
$lnr-magic-wand: "\e62b";
$lnr-magnet: "\e62c";
$lnr-pencil-ruler: "\e62d";
$lnr-pencil-ruler2: "\e62e";
$lnr-compass: "\e62f";
$lnr-aim: "\e630";
$lnr-gun: "\e631";
$lnr-bottle: "\e632";
$lnr-drop: "\e633";
$lnr-drop-crossed: "\e634";
$lnr-drop2: "\e635";
$lnr-snow: "\e636";
$lnr-snow2: "\e637";
$lnr-fire: "\e638";
$lnr-lighter: "\e639";
$lnr-knife: "\e63a";
$lnr-dagger: "\e63b";
$lnr-tissue: "\e63c";
$lnr-toilet-paper: "\e63d";
$lnr-poop: "\e63e";
$lnr-umbrella: "\e63f";
$lnr-umbrella2: "\e640";
$lnr-rain: "\e641";
$lnr-tornado: "\e642";
$lnr-wind: "\e643";
$lnr-fan: "\e644";
$lnr-contrast: "\e645";
$lnr-sun-small: "\e646";
$lnr-sun: "\e647";
$lnr-sun2: "\e648";
$lnr-moon: "\e649";
$lnr-cloud: "\e64a";
$lnr-cloud-upload: "\e64b";
$lnr-cloud-download: "\e64c";
$lnr-cloud-rain: "\e64d";
$lnr-cloud-hailstones: "\e64e";
$lnr-cloud-snow: "\e64f";
$lnr-cloud-windy: "\e650";
$lnr-sun-wind: "\e651";
$lnr-cloud-fog: "\e652";
$lnr-cloud-sun: "\e653";
$lnr-cloud-lightning: "\e654";
$lnr-cloud-sync: "\e655";
$lnr-cloud-lock: "\e656";
$lnr-cloud-gear: "\e657";
$lnr-cloud-alert: "\e658";
$lnr-cloud-check: "\e659";
$lnr-cloud-cross: "\e65a";
$lnr-cloud-crossed: "\e65b";
$lnr-cloud-database: "\e65c";
$lnr-database: "\e65d";
$lnr-database-add: "\e65e";
$lnr-database-remove: "\e65f";
$lnr-database-lock: "\e660";
$lnr-database-refresh: "\e661";
$lnr-database-check: "\e662";
$lnr-database-history: "\e663";
$lnr-database-upload: "\e664";
$lnr-database-download: "\e665";
$lnr-server: "\e666";
$lnr-shield: "\e667";
$lnr-shield-check: "\e668";
$lnr-shield-alert: "\e669";
$lnr-shield-cross: "\e66a";
$lnr-lock: "\e66b";
$lnr-rotation-lock: "\e66c";
$lnr-unlock: "\e66d";
$lnr-key: "\e66e";
$lnr-key-hole: "\e66f";
$lnr-toggle-off: "\e670";
$lnr-toggle-on: "\e671";
$lnr-cog: "\e672";
$lnr-cog2: "\e673";
$lnr-wrench: "\e674";
$lnr-screwdriver: "\e675";
$lnr-hammer-wrench: "\e676";
$lnr-hammer: "\e677";
$lnr-saw: "\e678";
$lnr-axe: "\e679";
$lnr-axe2: "\e67a";
$lnr-shovel: "\e67b";
$lnr-pickaxe: "\e67c";
$lnr-factory: "\e67d";
$lnr-factory2: "\e67e";
$lnr-recycle: "\e67f";
$lnr-trash: "\e680";
$lnr-trash2: "\e681";
$lnr-trash3: "\e682";
$lnr-broom: "\e683";
$lnr-game: "\e684";
$lnr-gamepad: "\e685";
$lnr-joystick: "\e686";
$lnr-dice: "\e687";
$lnr-spades: "\e688";
$lnr-diamonds: "\e689";
$lnr-clubs: "\e68a";
$lnr-hearts: "\e68b";
$lnr-heart: "\e68c";
$lnr-star: "\e68d";
$lnr-star-half: "\e68e";
$lnr-star-empty: "\e68f";
$lnr-flag: "\e690";
$lnr-flag2: "\e691";
$lnr-flag3: "\e692";
$lnr-mailbox-full: "\e693";
$lnr-mailbox-empty: "\e694";
$lnr-at-sign: "\e695";
$lnr-envelope: "\e696";
$lnr-envelope-open: "\e697";
$lnr-paperclip: "\e698";
$lnr-paper-plane: "\e699";
$lnr-reply: "\e69a";
$lnr-reply-all: "\e69b";
$lnr-inbox: "\e69c";
$lnr-inbox2: "\e69d";
$lnr-outbox: "\e69e";
$lnr-box: "\e69f";
$lnr-archive: "\e6a0";
$lnr-archive2: "\e6a1";
$lnr-drawers: "\e6a2";
$lnr-drawers2: "\e6a3";
$lnr-drawers3: "\e6a4";
$lnr-eye: "\e6a5";
$lnr-eye-crossed: "\e6a6";
$lnr-eye-plus: "\e6a7";
$lnr-eye-minus: "\e6a8";
$lnr-binoculars: "\e6a9";
$lnr-binoculars2: "\e6aa";
$lnr-hdd: "\e6ab";
$lnr-hdd-down: "\e6ac";
$lnr-hdd-up: "\e6ad";
$lnr-floppy-disk: "\e6ae";
$lnr-disc: "\e6af";
$lnr-tape2: "\e6b0";
$lnr-printer: "\e6b1";
$lnr-shredder: "\e6b2";
$lnr-file-empty: "\e6b3";
$lnr-file-add: "\e6b4";
$lnr-file-check: "\e6b5";
$lnr-file-lock: "\e6b6";
$lnr-files: "\e6b7";
$lnr-copy: "\e6b8";
$lnr-compare: "\e6b9";
$lnr-folder: "\e6ba";
$lnr-folder-search: "\e6bb";
$lnr-folder-plus: "\e6bc";
$lnr-folder-minus: "\e6bd";
$lnr-folder-download: "\e6be";
$lnr-folder-upload: "\e6bf";
$lnr-folder-star: "\e6c0";
$lnr-folder-heart: "\e6c1";
$lnr-folder-user: "\e6c2";
$lnr-folder-shared: "\e6c3";
$lnr-folder-music: "\e6c4";
$lnr-folder-picture: "\e6c5";
$lnr-folder-film: "\e6c6";
$lnr-scissors: "\e6c7";
$lnr-paste: "\e6c8";
$lnr-clipboard-empty: "\e6c9";
$lnr-clipboard-pencil: "\e6ca";
$lnr-clipboard-text: "\e6cb";
$lnr-clipboard-check: "\e6cc";
$lnr-clipboard-down: "\e6cd";
$lnr-clipboard-left: "\e6ce";
$lnr-clipboard-alert: "\e6cf";
$lnr-clipboard-user: "\e6d0";
$lnr-register: "\e6d1";
$lnr-enter: "\e6d2";
$lnr-exit: "\e6d3";
$lnr-papers: "\e6d4";
$lnr-news: "\e6d5";
$lnr-reading: "\e6d6";
$lnr-typewriter: "\e6d7";
$lnr-document: "\e6d8";
$lnr-document2: "\e6d9";
$lnr-graduation-hat: "\e6da";
$lnr-license: "\e6db";
$lnr-license2: "\e6dc";
$lnr-medal-empty: "\e6dd";
$lnr-medal-first: "\e6de";
$lnr-medal-second: "\e6df";
$lnr-medal-third: "\e6e0";
$lnr-podium: "\e6e1";
$lnr-trophy: "\e6e2";
$lnr-trophy2: "\e6e3";
$lnr-music-note: "\e6e4";
$lnr-music-note2: "\e6e5";
$lnr-music-note3: "\e6e6";
$lnr-playlist: "\e6e7";
$lnr-playlist-add: "\e6e8";
$lnr-guitar: "\e6e9";
$lnr-trumpet: "\e6ea";
$lnr-album: "\e6eb";
$lnr-shuffle: "\e6ec";
$lnr-repeat-one: "\e6ed";
$lnr-repeat: "\e6ee";
$lnr-headphones: "\e6ef";
$lnr-headset: "\e6f0";
$lnr-loudspeaker: "\e6f1";
$lnr-equalizer: "\e6f2";
$lnr-theater: "\e6f3";
$lnr-3d-glasses: "\e6f4";
$lnr-ticket: "\e6f5";
$lnr-presentation: "\e6f6";
$lnr-play: "\e6f7";
$lnr-film-play: "\e6f8";
$lnr-clapboard-play: "\e6f9";
$lnr-media: "\e6fa";
$lnr-film: "\e6fb";
$lnr-film2: "\e6fc";
$lnr-surveillance: "\e6fd";
$lnr-surveillance2: "\e6fe";
$lnr-camera: "\e6ff";
$lnr-camera-crossed: "\e700";
$lnr-camera-play: "\e701";
$lnr-time-lapse: "\e702";
$lnr-record: "\e703";
$lnr-camera2: "\e704";
$lnr-camera-flip: "\e705";
$lnr-panorama: "\e706";
$lnr-time-lapse2: "\e707";
$lnr-shutter: "\e708";
$lnr-shutter2: "\e709";
$lnr-face-detection: "\e70a";
$lnr-flare: "\e70b";
$lnr-convex: "\e70c";
$lnr-concave: "\e70d";
$lnr-picture: "\e70e";
$lnr-picture2: "\e70f";
$lnr-picture3: "\e710";
$lnr-pictures: "\e711";
$lnr-book: "\e712";
$lnr-audio-book: "\e713";
$lnr-book2: "\e714";
$lnr-bookmark: "\e715";
$lnr-bookmark2: "\e716";
$lnr-label: "\e717";
$lnr-library: "\e718";
$lnr-library2: "\e719";
$lnr-contacts: "\e71a";
$lnr-profile: "\e71b";
$lnr-portrait: "\e71c";
$lnr-portrait2: "\e71d";
$lnr-user: "\e71e";
$lnr-user-plus: "\e71f";
$lnr-user-minus: "\e720";
$lnr-user-lock: "\e721";
$lnr-users: "\e722";
$lnr-users2: "\e723";
$lnr-users-plus: "\e724";
$lnr-users-minus: "\e725";
$lnr-group-work: "\e726";
$lnr-woman: "\e727";
$lnr-man: "\e728";
$lnr-baby: "\e729";
$lnr-baby2: "\e72a";
$lnr-baby3: "\e72b";
$lnr-baby-bottle: "\e72c";
$lnr-walk: "\e72d";
$lnr-hand-waving: "\e72e";
$lnr-jump: "\e72f";
$lnr-run: "\e730";
$lnr-woman2: "\e731";
$lnr-man2: "\e732";
$lnr-man-woman: "\e733";
$lnr-height: "\e734";
$lnr-weight: "\e735";
$lnr-scale: "\e736";
$lnr-button: "\e737";
$lnr-bow-tie: "\e738";
$lnr-tie: "\e739";
$lnr-socks: "\e73a";
$lnr-shoe: "\e73b";
$lnr-shoes: "\e73c";
$lnr-hat: "\e73d";
$lnr-pants: "\e73e";
$lnr-shorts: "\e73f";
$lnr-flip-flops: "\e740";
$lnr-shirt: "\e741";
$lnr-hanger: "\e742";
$lnr-laundry: "\e743";
$lnr-store: "\e744";
$lnr-haircut: "\e745";
$lnr-store-24: "\e746";
$lnr-barcode: "\e747";
$lnr-barcode2: "\e748";
$lnr-barcode3: "\e749";
$lnr-cashier: "\e74a";
$lnr-bag: "\e74b";
$lnr-bag2: "\e74c";
$lnr-cart: "\e74d";
$lnr-cart-empty: "\e74e";
$lnr-cart-full: "\e74f";
$lnr-cart-plus: "\e750";
$lnr-cart-plus2: "\e751";
$lnr-cart-add: "\e752";
$lnr-cart-remove: "\e753";
$lnr-cart-exchange: "\e754";
$lnr-tag: "\e755";
$lnr-tags: "\e756";
$lnr-receipt: "\e757";
$lnr-wallet: "\e758";
$lnr-credit-card: "\e759";
$lnr-cash-dollar: "\e75a";
$lnr-cash-euro: "\e75b";
$lnr-cash-pound: "\e75c";
$lnr-cash-yen: "\e75d";
$lnr-bag-dollar: "\e75e";
$lnr-bag-euro: "\e75f";
$lnr-bag-pound: "\e760";
$lnr-bag-yen: "\e761";
$lnr-coin-dollar: "\e762";
$lnr-coin-euro: "\e763";
$lnr-coin-pound: "\e764";
$lnr-coin-yen: "\e765";
$lnr-calculator: "\e766";
$lnr-calculator2: "\e767";
$lnr-abacus: "\e768";
$lnr-vault: "\e769";
$lnr-telephone: "\e76a";
$lnr-phone-lock: "\e76b";
$lnr-phone-wave: "\e76c";
$lnr-phone-pause: "\e76d";
$lnr-phone-outgoing: "\e76e";
$lnr-phone-incoming: "\e76f";
$lnr-phone-in-out: "\e770";
$lnr-phone-error: "\e771";
$lnr-phone-sip: "\e772";
$lnr-phone-plus: "\e773";
$lnr-phone-minus: "\e774";
$lnr-voicemail: "\e775";
$lnr-dial: "\e776";
$lnr-telephone2: "\e777";
$lnr-pushpin: "\e778";
$lnr-pushpin2: "\e779";
$lnr-map-marker: "\e77a";
$lnr-map-marker-user: "\e77b";
$lnr-map-marker-down: "\e77c";
$lnr-map-marker-check: "\e77d";
$lnr-map-marker-crossed: "\e77e";
$lnr-radar: "\e77f";
$lnr-compass2: "\e780";
$lnr-map: "\e781";
$lnr-map2: "\e782";
$lnr-location: "\e783";
$lnr-road-sign: "\e784";
$lnr-calendar-empty: "\e785";
$lnr-calendar-check: "\e786";
$lnr-calendar-cross: "\e787";
$lnr-calendar-31: "\e788";
$lnr-calendar-full: "\e789";
$lnr-calendar-insert: "\e78a";
$lnr-calendar-text: "\e78b";
$lnr-calendar-user: "\e78c";
$lnr-mouse: "\e78d";
$lnr-mouse-left: "\e78e";
$lnr-mouse-right: "\e78f";
$lnr-mouse-both: "\e790";
$lnr-keyboard: "\e791";
$lnr-keyboard-up: "\e792";
$lnr-keyboard-down: "\e793";
$lnr-delete: "\e794";
$lnr-spell-check: "\e795";
$lnr-escape: "\e796";
$lnr-enter2: "\e797";
$lnr-screen: "\e798";
$lnr-aspect-ratio: "\e799";
$lnr-signal: "\e79a";
$lnr-signal-lock: "\e79b";
$lnr-signal-80: "\e79c";
$lnr-signal-60: "\e79d";
$lnr-signal-40: "\e79e";
$lnr-signal-20: "\e79f";
$lnr-signal-0: "\e7a0";
$lnr-signal-blocked: "\e7a1";
$lnr-sim: "\e7a2";
$lnr-flash-memory: "\e7a3";
$lnr-usb-drive: "\e7a4";
$lnr-phone: "\e7a5";
$lnr-smartphone: "\e7a6";
$lnr-smartphone-notification: "\e7a7";
$lnr-smartphone-vibration: "\e7a8";
$lnr-smartphone-embed: "\e7a9";
$lnr-smartphone-waves: "\e7aa";
$lnr-tablet: "\e7ab";
$lnr-tablet2: "\e7ac";
$lnr-laptop: "\e7ad";
$lnr-laptop-phone: "\e7ae";
$lnr-desktop: "\e7af";
$lnr-launch: "\e7b0";
$lnr-new-tab: "\e7b1";
$lnr-window: "\e7b2";
$lnr-cable: "\e7b3";
$lnr-cable2: "\e7b4";
$lnr-tv: "\e7b5";
$lnr-radio: "\e7b6";
$lnr-remote-control: "\e7b7";
$lnr-power-switch: "\e7b8";
$lnr-power: "\e7b9";
$lnr-power-crossed: "\e7ba";
$lnr-flash-auto: "\e7bb";
$lnr-lamp: "\e7bc";
$lnr-flashlight: "\e7bd";
$lnr-lampshade: "\e7be";
$lnr-cord: "\e7bf";
$lnr-outlet: "\e7c0";
$lnr-battery-power: "\e7c1";
$lnr-battery-empty: "\e7c2";
$lnr-battery-alert: "\e7c3";
$lnr-battery-error: "\e7c4";
$lnr-battery-low1: "\e7c5";
$lnr-battery-low2: "\e7c6";
$lnr-battery-low3: "\e7c7";
$lnr-battery-mid1: "\e7c8";
$lnr-battery-mid2: "\e7c9";
$lnr-battery-mid3: "\e7ca";
$lnr-battery-full: "\e7cb";
$lnr-battery-charging: "\e7cc";
$lnr-battery-charging2: "\e7cd";
$lnr-battery-charging3: "\e7ce";
$lnr-battery-charging4: "\e7cf";
$lnr-battery-charging5: "\e7d0";
$lnr-battery-charging6: "\e7d1";
$lnr-battery-charging7: "\e7d2";
$lnr-chip: "\e7d3";
$lnr-chip-x64: "\e7d4";
$lnr-chip-x86: "\e7d5";
$lnr-bubble: "\e7d6";
$lnr-bubbles: "\e7d7";
$lnr-bubble-dots: "\e7d8";
$lnr-bubble-alert: "\e7d9";
$lnr-bubble-question: "\e7da";
$lnr-bubble-text: "\e7db";
$lnr-bubble-pencil: "\e7dc";
$lnr-bubble-picture: "\e7dd";
$lnr-bubble-video: "\e7de";
$lnr-bubble-user: "\e7df";
$lnr-bubble-quote: "\e7e0";
$lnr-bubble-heart: "\e7e1";
$lnr-bubble-emoticon: "\e7e2";
$lnr-bubble-attachment: "\e7e3";
$lnr-phone-bubble: "\e7e4";
$lnr-quote-open: "\e7e5";
$lnr-quote-close: "\e7e6";
$lnr-dna: "\e7e7";
$lnr-heart-pulse: "\e7e8";
$lnr-pulse: "\e7e9";
$lnr-syringe: "\e7ea";
$lnr-pills: "\e7eb";
$lnr-first-aid: "\e7ec";
$lnr-lifebuoy: "\e7ed";
$lnr-bandage: "\e7ee";
$lnr-bandages: "\e7ef";
$lnr-thermometer: "\e7f0";
$lnr-microscope: "\e7f1";
$lnr-brain: "\e7f2";
$lnr-beaker: "\e7f3";
$lnr-skull: "\e7f4";
$lnr-bone: "\e7f5";
$lnr-construction: "\e7f6";
$lnr-construction-cone: "\e7f7";
$lnr-pie-chart: "\e7f8";
$lnr-pie-chart2: "\e7f9";
$lnr-graph: "\e7fa";
$lnr-chart-growth: "\e7fb";
$lnr-chart-bars: "\e7fc";
$lnr-chart-settings: "\e7fd";
$lnr-cake: "\e7fe";
$lnr-gift: "\e7ff";
$lnr-balloon: "\e800";
$lnr-rank: "\e801";
$lnr-rank2: "\e802";
$lnr-rank3: "\e803";
$lnr-crown: "\e804";
$lnr-lotus: "\e805";
$lnr-diamond: "\e806";
$lnr-diamond2: "\e807";
$lnr-diamond3: "\e808";
$lnr-diamond4: "\e809";
$lnr-linearicons: "\e80a";
$lnr-teacup: "\e80b";
$lnr-teapot: "\e80c";
$lnr-glass: "\e80d";
$lnr-bottle2: "\e80e";
$lnr-glass-cocktail: "\e80f";
$lnr-glass2: "\e810";
$lnr-dinner: "\e811";
$lnr-dinner2: "\e812";
$lnr-chef: "\e813";
$lnr-scale2: "\e814";
$lnr-egg: "\e815";
$lnr-egg2: "\e816";
$lnr-eggs: "\e817";
$lnr-platter: "\e818";
$lnr-steak: "\e819";
$lnr-hamburger: "\e81a";
$lnr-hotdog: "\e81b";
$lnr-pizza: "\e81c";
$lnr-sausage: "\e81d";
$lnr-chicken: "\e81e";
$lnr-fish: "\e81f";
$lnr-carrot: "\e820";
$lnr-cheese: "\e821";
$lnr-bread: "\e822";
$lnr-ice-cream: "\e823";
$lnr-ice-cream2: "\e824";
$lnr-candy: "\e825";
$lnr-lollipop: "\e826";
$lnr-coffee-bean: "\e827";
$lnr-coffee-cup: "\e828";
$lnr-cherry: "\e829";
$lnr-grapes: "\e82a";
$lnr-citrus: "\e82b";
$lnr-apple: "\e82c";
$lnr-leaf: "\e82d";
$lnr-landscape: "\e82e";
$lnr-pine-tree: "\e82f";
$lnr-tree: "\e830";
$lnr-cactus: "\e831";
$lnr-paw: "\e832";
$lnr-footprint: "\e833";
$lnr-speed-slow: "\e834";
$lnr-speed-medium: "\e835";
$lnr-speed-fast: "\e836";
$lnr-rocket: "\e837";
$lnr-hammer2: "\e838";
$lnr-balance: "\e839";
$lnr-briefcase: "\e83a";
$lnr-luggage-weight: "\e83b";
$lnr-dolly: "\e83c";
$lnr-plane: "\e83d";
$lnr-plane-crossed: "\e83e";
$lnr-helicopter: "\e83f";
$lnr-traffic-lights: "\e840";
$lnr-siren: "\e841";
$lnr-road: "\e842";
$lnr-engine: "\e843";
$lnr-oil-pressure: "\e844";
$lnr-coolant-temperature: "\e845";
$lnr-car-battery: "\e846";
$lnr-gas: "\e847";
$lnr-gallon: "\e848";
$lnr-transmission: "\e849";
$lnr-car: "\e84a";
$lnr-car-wash: "\e84b";
$lnr-car-wash2: "\e84c";
$lnr-bus: "\e84d";
$lnr-bus2: "\e84e";
$lnr-car2: "\e84f";
$lnr-parking: "\e850";
$lnr-car-lock: "\e851";
$lnr-taxi: "\e852";
$lnr-car-siren: "\e853";
$lnr-car-wash3: "\e854";
$lnr-car-wash4: "\e855";
$lnr-ambulance: "\e856";
$lnr-truck: "\e857";
$lnr-trailer: "\e858";
$lnr-scale-truck: "\e859";
$lnr-train: "\e85a";
$lnr-ship: "\e85b";
$lnr-ship2: "\e85c";
$lnr-anchor: "\e85d";
$lnr-boat: "\e85e";
$lnr-bicycle: "\e85f";
$lnr-bicycle2: "\e860";
$lnr-dumbbell: "\e861";
$lnr-bench-press: "\e862";
$lnr-swim: "\e863";
$lnr-football: "\e864";
$lnr-baseball-bat: "\e865";
$lnr-baseball: "\e866";
$lnr-tennis: "\e867";
$lnr-tennis2: "\e868";
$lnr-ping-pong: "\e869";
$lnr-hockey: "\e86a";
$lnr-8ball: "\e86b";
$lnr-bowling: "\e86c";
$lnr-bowling-pins: "\e86d";
$lnr-golf: "\e86e";
$lnr-golf2: "\e86f";
$lnr-archery: "\e870";
$lnr-slingshot: "\e871";
$lnr-soccer: "\e872";
$lnr-basketball: "\e873";
$lnr-cube: "\e874";
$lnr-3d-rotate: "\e875";
$lnr-puzzle: "\e876";
$lnr-glasses: "\e877";
$lnr-glasses2: "\e878";
$lnr-accessibility: "\e879";
$lnr-wheelchair: "\e87a";
$lnr-wall: "\e87b";
$lnr-fence: "\e87c";
$lnr-wall2: "\e87d";
$lnr-icons: "\e87e";
$lnr-resize-handle: "\e87f";
$lnr-icons2: "\e880";
$lnr-select: "\e881";
$lnr-select2: "\e882";
$lnr-site-map: "\e883";
$lnr-earth: "\e884";
$lnr-earth-lock: "\e885";
$lnr-network: "\e886";
$lnr-network-lock: "\e887";
$lnr-planet: "\e888";
$lnr-happy: "\e889";
$lnr-smile: "\e88a";
$lnr-grin: "\e88b";
$lnr-tongue: "\e88c";
$lnr-sad: "\e88d";
$lnr-wink: "\e88e";
$lnr-dream: "\e88f";
$lnr-shocked: "\e890";
$lnr-shocked2: "\e891";
$lnr-tongue2: "\e892";
$lnr-neutral: "\e893";
$lnr-happy-grin: "\e894";
$lnr-cool: "\e895";
$lnr-mad: "\e896";
$lnr-grin-evil: "\e897";
$lnr-evil: "\e898";
$lnr-wow: "\e899";
$lnr-annoyed: "\e89a";
$lnr-wondering: "\e89b";
$lnr-confused: "\e89c";
$lnr-zipped: "\e89d";
$lnr-grumpy: "\e89e";
$lnr-mustache: "\e89f";
$lnr-tombstone-hipster: "\e8a0";
$lnr-tombstone: "\e8a1";
$lnr-ghost: "\e8a2";
$lnr-ghost-hipster: "\e8a3";
$lnr-halloween: "\e8a4";
$lnr-christmas: "\e8a5";
$lnr-easter-egg: "\e8a6";
$lnr-mustache2: "\e8a7";
$lnr-mustache-glasses: "\e8a8";
$lnr-pipe: "\e8a9";
$lnr-alarm: "\e8aa";
$lnr-alarm-add: "\e8ab";
$lnr-alarm-snooze: "\e8ac";
$lnr-alarm-ringing: "\e8ad";
$lnr-bullhorn: "\e8ae";
$lnr-hearing: "\e8af";
$lnr-volume-high: "\e8b0";
$lnr-volume-medium: "\e8b1";
$lnr-volume-low: "\e8b2";
$lnr-volume: "\e8b3";
$lnr-mute: "\e8b4";
$lnr-lan: "\e8b5";
$lnr-lan2: "\e8b6";
$lnr-wifi: "\e8b7";
$lnr-wifi-lock: "\e8b8";
$lnr-wifi-blocked: "\e8b9";
$lnr-wifi-mid: "\e8ba";
$lnr-wifi-low: "\e8bb";
$lnr-wifi-low2: "\e8bc";
$lnr-wifi-alert: "\e8bd";
$lnr-wifi-alert-mid: "\e8be";
$lnr-wifi-alert-low: "\e8bf";
$lnr-wifi-alert-low2: "\e8c0";
$lnr-stream: "\e8c1";
$lnr-stream-check: "\e8c2";
$lnr-stream-error: "\e8c3";
$lnr-stream-alert: "\e8c4";
$lnr-communication: "\e8c5";
$lnr-communication-crossed: "\e8c6";
$lnr-broadcast: "\e8c7";
$lnr-antenna: "\e8c8";
$lnr-satellite: "\e8c9";
$lnr-satellite2: "\e8ca";
$lnr-mic: "\e8cb";
$lnr-mic-mute: "\e8cc";
$lnr-mic2: "\e8cd";
$lnr-spotlights: "\e8ce";
$lnr-hourglass: "\e8cf";
$lnr-loading: "\e8d0";
$lnr-loading2: "\e8d1";
$lnr-loading3: "\e8d2";
$lnr-refresh: "\e8d3";
$lnr-refresh2: "\e8d4";
$lnr-undo: "\e8d5";
$lnr-redo: "\e8d6";
$lnr-jump2: "\e8d7";
$lnr-undo2: "\e8d8";
$lnr-redo2: "\e8d9";
$lnr-sync: "\e8da";
$lnr-repeat-one2: "\e8db";
$lnr-sync-crossed: "\e8dc";
$lnr-sync2: "\e8dd";
$lnr-repeat-one3: "\e8de";
$lnr-sync-crossed2: "\e8df";
$lnr-return: "\e8e0";
$lnr-return2: "\e8e1";
$lnr-refund: "\e8e2";
$lnr-history: "\e8e3";
$lnr-history2: "\e8e4";
$lnr-self-timer: "\e8e5";
$lnr-clock: "\e8e6";
$lnr-clock2: "\e8e7";
$lnr-clock3: "\e8e8";
$lnr-watch: "\e8e9";
$lnr-alarm2: "\e8ea";
$lnr-alarm-add2: "\e8eb";
$lnr-alarm-remove: "\e8ec";
$lnr-alarm-check: "\e8ed";
$lnr-alarm-error: "\e8ee";
$lnr-timer: "\e8ef";
$lnr-timer-crossed: "\e8f0";
$lnr-timer2: "\e8f1";
$lnr-timer-crossed2: "\e8f2";
$lnr-download: "\e8f3";
$lnr-upload: "\e8f4";
$lnr-download2: "\e8f5";
$lnr-upload2: "\e8f6";
$lnr-enter-up: "\e8f7";
$lnr-enter-down: "\e8f8";
$lnr-enter-left: "\e8f9";
$lnr-enter-right: "\e8fa";
$lnr-exit-up: "\e8fb";
$lnr-exit-down: "\e8fc";
$lnr-exit-left: "\e8fd";
$lnr-exit-right: "\e8fe";
$lnr-enter-up2: "\e8ff";
$lnr-enter-down2: "\e900";
$lnr-enter-vertical: "\e901";
$lnr-enter-left2: "\e902";
$lnr-enter-right2: "\e903";
$lnr-enter-horizontal: "\e904";
$lnr-exit-up2: "\e905";
$lnr-exit-down2: "\e906";
$lnr-exit-left2: "\e907";
$lnr-exit-right2: "\e908";
$lnr-cli: "\e909";
$lnr-bug: "\e90a";
$lnr-code: "\e90b";
$lnr-file-code: "\e90c";
$lnr-file-image: "\e90d";
$lnr-file-zip: "\e90e";
$lnr-file-audio: "\e90f";
$lnr-file-video: "\e910";
$lnr-file-preview: "\e911";
$lnr-file-charts: "\e912";
$lnr-file-stats: "\e913";
$lnr-file-spreadsheet: "\e914";
$lnr-link: "\e915";
$lnr-unlink: "\e916";
$lnr-link2: "\e917";
$lnr-unlink2: "\e918";
$lnr-thumbs-up: "\e919";
$lnr-thumbs-down: "\e91a";
$lnr-thumbs-up2: "\e91b";
$lnr-thumbs-down2: "\e91c";
$lnr-thumbs-up3: "\e91d";
$lnr-thumbs-down3: "\e91e";
$lnr-share: "\e91f";
$lnr-share2: "\e920";
$lnr-share3: "\e921";
$lnr-magnifier: "\e922";
$lnr-file-search: "\e923";
$lnr-find-replace: "\e924";
$lnr-zoom-in: "\e925";
$lnr-zoom-out: "\e926";
$lnr-loupe: "\e927";
$lnr-loupe-zoom-in: "\e928";
$lnr-loupe-zoom-out: "\e929";
$lnr-cross: "\e92a";
$lnr-menu: "\e92b";
$lnr-list: "\e92c";
$lnr-list2: "\e92d";
$lnr-list3: "\e92e";
$lnr-menu2: "\e92f";
$lnr-list4: "\e930";
$lnr-menu3: "\e931";
$lnr-exclamation: "\e932";
$lnr-question: "\e933";
$lnr-check: "\e934";
$lnr-cross2: "\e935";
$lnr-plus: "\e936";
$lnr-minus: "\e937";
$lnr-percent: "\e938";
$lnr-chevron-up: "\e939";
$lnr-chevron-down: "\e93a";
$lnr-chevron-left: "\e93b";
$lnr-chevron-right: "\e93c";
$lnr-chevrons-expand-vertical: "\e93d";
$lnr-chevrons-expand-horizontal: "\e93e";
$lnr-chevrons-contract-vertical: "\e93f";
$lnr-chevrons-contract-horizontal: "\e940";
$lnr-arrow-up: "\e941";
$lnr-arrow-down: "\e942";
$lnr-arrow-left: "\e943";
$lnr-arrow-right: "\e944";
$lnr-arrow-up-right: "\e945";
$lnr-arrows-merge: "\e946";
$lnr-arrows-split: "\e947";
$lnr-arrow-divert: "\e948";
$lnr-arrow-return: "\e949";
$lnr-expand: "\e94a";
$lnr-contract: "\e94b";
$lnr-expand2: "\e94c";
$lnr-contract2: "\e94d";
$lnr-move: "\e94e";
$lnr-tab: "\e94f";
$lnr-arrow-wave: "\e950";
$lnr-expand3: "\e951";
$lnr-expand4: "\e952";
$lnr-contract3: "\e953";
$lnr-notification: "\e954";
$lnr-warning: "\e955";
$lnr-notification-circle: "\e956";
$lnr-question-circle: "\e957";
$lnr-menu-circle: "\e958";
$lnr-checkmark-circle: "\e959";
$lnr-cross-circle: "\e95a";
$lnr-plus-circle: "\e95b";
$lnr-circle-minus: "\e95c";
$lnr-percent-circle: "\e95d";
$lnr-arrow-up-circle: "\e95e";
$lnr-arrow-down-circle: "\e95f";
$lnr-arrow-left-circle: "\e960";
$lnr-arrow-right-circle: "\e961";
$lnr-chevron-up-circle: "\e962";
$lnr-chevron-down-circle: "\e963";
$lnr-chevron-left-circle: "\e964";
$lnr-chevron-right-circle: "\e965";
$lnr-backward-circle: "\e966";
$lnr-first-circle: "\e967";
$lnr-previous-circle: "\e968";
$lnr-stop-circle: "\e969";
$lnr-play-circle: "\e96a";
$lnr-pause-circle: "\e96b";
$lnr-next-circle: "\e96c";
$lnr-last-circle: "\e96d";
$lnr-forward-circle: "\e96e";
$lnr-eject-circle: "\e96f";
$lnr-crop: "\e970";
$lnr-frame-expand: "\e971";
$lnr-frame-contract: "\e972";
$lnr-focus: "\e973";
$lnr-transform: "\e974";
$lnr-grid: "\e975";
$lnr-grid-crossed: "\e976";
$lnr-layers: "\e977";
$lnr-layers-crossed: "\e978";
$lnr-toggle: "\e979";
$lnr-rulers: "\e97a";
$lnr-ruler: "\e97b";
$lnr-funnel: "\e97c";
$lnr-flip-horizontal: "\e97d";
$lnr-flip-vertical: "\e97e";
$lnr-flip-horizontal2: "\e97f";
$lnr-flip-vertical2: "\e980";
$lnr-angle: "\e981";
$lnr-angle2: "\e982";
$lnr-subtract: "\e983";
$lnr-combine: "\e984";
$lnr-intersect: "\e985";
$lnr-exclude: "\e986";
$lnr-align-center-vertical: "\e987";
$lnr-align-right: "\e988";
$lnr-align-bottom: "\e989";
$lnr-align-left: "\e98a";
$lnr-align-center-horizontal: "\e98b";
$lnr-align-top: "\e98c";
$lnr-square: "\e98d";
$lnr-plus-square: "\e98e";
$lnr-minus-square: "\e98f";
$lnr-percent-square: "\e990";
$lnr-arrow-up-square: "\e991";
$lnr-arrow-down-square: "\e992";
$lnr-arrow-left-square: "\e993";
$lnr-arrow-right-square: "\e994";
$lnr-chevron-up-square: "\e995";
$lnr-chevron-down-square: "\e996";
$lnr-chevron-left-square: "\e997";
$lnr-chevron-right-square: "\e998";
$lnr-check-square: "\e999";
$lnr-cross-square: "\e99a";
$lnr-menu-square: "\e99b";
$lnr-prohibited: "\e99c";
$lnr-circle: "\e99d";
$lnr-radio-button: "\e99e";
$lnr-ligature: "\e99f";
$lnr-text-format: "\e9a0";
$lnr-text-format-remove: "\e9a1";
$lnr-text-size: "\e9a2";
$lnr-bold: "\e9a3";
$lnr-italic: "\e9a4";
$lnr-underline: "\e9a5";
$lnr-strikethrough: "\e9a6";
$lnr-highlight: "\e9a7";
$lnr-text-align-left: "\e9a8";
$lnr-text-align-center: "\e9a9";
$lnr-text-align-right: "\e9aa";
$lnr-text-align-justify: "\e9ab";
$lnr-line-spacing: "\e9ac";
$lnr-indent-increase: "\e9ad";
$lnr-indent-decrease: "\e9ae";
$lnr-text-wrap: "\e9af";
$lnr-pilcrow: "\e9b0";
$lnr-direction-ltr: "\e9b1";
$lnr-direction-rtl: "\e9b2";
$lnr-page-break: "\e9b3";
$lnr-page-break2: "\e9b4";
$lnr-sort-alpha-asc: "\e9b5";
$lnr-sort-alpha-desc: "\e9b6";
$lnr-sort-numeric-asc: "\e9b7";
$lnr-sort-numeric-desc: "\e9b8";
$lnr-sort-amount-asc: "\e9b9";
$lnr-sort-amount-desc: "\e9ba";
$lnr-sort-time-asc: "\e9bb";
$lnr-sort-time-desc: "\e9bc";
$lnr-sigma: "\e9bd";
$lnr-pencil-line: "\e9be";
$lnr-hand: "\e9bf";
$lnr-pointer-up: "\e9c0";
$lnr-pointer-right: "\e9c1";
$lnr-pointer-down: "\e9c2";
$lnr-pointer-left: "\e9c3";
$lnr-finger-tap: "\e9c4";
$lnr-fingers-tap: "\e9c5";
$lnr-reminder: "\e9c6";
$lnr-fingers-crossed: "\e9c7";
$lnr-fingers-victory: "\e9c8";
$lnr-gesture-zoom: "\e9c9";
$lnr-gesture-pinch: "\e9ca";
$lnr-fingers-scroll-horizontal: "\e9cb";
$lnr-fingers-scroll-vertical: "\e9cc";
$lnr-fingers-scroll-left: "\e9cd";
$lnr-fingers-scroll-right: "\e9ce";
$lnr-hand2: "\e9cf";
$lnr-pointer-up2: "\e9d0";
$lnr-pointer-right2: "\e9d1";
$lnr-pointer-down2: "\e9d2";
$lnr-pointer-left2: "\e9d3";
$lnr-finger-tap2: "\e9d4";
$lnr-fingers-tap2: "\e9d5";
$lnr-reminder2: "\e9d6";
$lnr-gesture-zoom2: "\e9d7";
$lnr-gesture-pinch2: "\e9d8";
$lnr-fingers-scroll-horizontal2: "\e9d9";
$lnr-fingers-scroll-vertical2: "\e9da";
$lnr-fingers-scroll-left2: "\e9db";
$lnr-fingers-scroll-right2: "\e9dc";
$lnr-fingers-scroll-vertical3: "\e9dd";
$lnr-border-style: "\e9de";
$lnr-border-all: "\e9df";
$lnr-border-outer: "\e9e0";
$lnr-border-inner: "\e9e1";
$lnr-border-top: "\e9e2";
$lnr-border-horizontal: "\e9e3";
$lnr-border-bottom: "\e9e4";
$lnr-border-left: "\e9e5";
$lnr-border-vertical: "\e9e6";
$lnr-border-right: "\e9e7";
$lnr-border-none: "\e9e8";
$lnr-ellipsis: "\e9e9";